@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Root options */
:root{
    --headertext: 'Inter', 'sans-serif';
    --bodytext: 'Quicksand', 'sans-serif';
    --menu-color: #6dffc7;
    --underline-color: #5e0024;
    --background-color: #bebebe;
    --font-color: #000;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

/* Dark Mode Theme */
.dark-theme{
    --menu-color: #5e0024;
    --underline-color: #a1ffdb;
    --background-color: #646464;
    --font-color: #fff;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Common Styles */
body {
    font-family: var(--bodytext);
    background-color: var(--background-color);
    font-weight: 300;
    position: relative;
    height: 100%;
}

main {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.title {
    font-family: var(--headertext);
}

.navbar, .footer {
    background-color: var(--menu-color);
    color: var(--font-color);
}

/* navbar styles */
.navbar {

}

.nav-link {
    color: var(--font-color);
}

.navbar-toggler-icon {
    background-image: var(--toggler)
}

/* Footer Styles */
.footer p {
    color: var(--font-color);
}

/* Theme Switch Styles */
.switch {
    width: 60px;
    height: 30px;
    margin-top: 3px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-color: black;
    text-indent: -200px
}

.switch span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    transition: 0.4s;
    height: 30px;
    width: 30px;
    display: inline;
    position: relative;
    background: white;
}

input:checked + .slider {
    transform: translateX(30px);
}
