@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Light Mode Theme */
:root.light {
    --headertext: 'Inter', 'sans-serif';
    --bodytext: 'Quicksand', 'sans-serif';
    --menu-color: #0dcaf0;
    --background-color: #dee2e6;
    --recipe-background: #bebebe;
    --font-color: #000;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

/* Dark Mode Theme */
:root:not(.light) {
    --headertext: 'Inter', 'sans-serif';
    --bodytext: 'Quicksand', 'sans-serif';
    --menu-color: #084298;
    --background-color: #41464b;
    --recipe-background: #646464;
    --font-color: #fff;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Common Styles */
body {
    font-family: var(--bodytext);
    background-color: var(--background-color);
    font-weight: 300;
    position: relative;
    height: 100%;
}

main {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.nav-link, .social-networks, main p,
main h1, main h3, #recipe, .comments,
#like-button {
    color: var(--font-color);
}

.title {
    font-family: var(--headertext);
    color: var(--font-color);
}

.navbar, .footer, .btn, .page-link {
    background-color: var(--menu-color);
    color: var(--font-color);
}

/* navbar styles */
.navbar-toggler-icon {
    background-image: var(--toggler)
}

#favorites .nav-item, #personal_recipes .nav-item {
    color: #000;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

/* Theme Switch Styles */
.switch {
    width: 60px;
    height: 30px;
    margin-top: 3px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-color: black;
    text-indent: -200px
}

:root:not(.light) .switch span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

:root:not(.light) .switch input, #theme {
    display: none;
}

:root:not(.light) .slider {
    transition: 0.4s;
    height: 30px;
    width: 30px;
    display: inline;
    position: relative;
    background: white;
}

:root:not(.light) .slider {
    transform: translateX(0px);
}

:root.light .slider {
    transform: translateX(30px);
}

:root.light .switch span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

:root.light .switch input, #theme {
    display: none;
}

:root.light .slider {
    transition: 0.4s;
    height: 30px;
    width: 30px;
    display: inline;
    position: relative;
    background: white;
}

/* Home Page Style */

#welcome-message {
    width: 40%;
    margin: auto;
}


/* Recipe Details Styles */

.post-content-img {
    width: 100%;
}

#recipe, #like-button {
    background-color: var(--recipe-background);
}

.recipe-detail-img {
    content-visibility: auto;
}

.recipe-detail-img img {
    width: 100%;
}

/* Card Styles */

.card-image {
    width: 100%;
    height: auto;
}

.recipe-image {
    width: inherit;
}


.card ul .card-description {
    height: 175px;
}

.card-description p {
    color: #000;
}

/* Profile Styles */

#delete-button {
    float: right;
}

.card-title {
    color: #000;
    font-size: 95%;
    height: 100px;
}

/* Categories List Styles */

.content-img {
    contain: content;
}

.content-img img {
    width: 400px;
    margin: auto;
}

.category-titles {
    text-decoration: none;
    color: var(--font-color);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    
    .profile {
        font-size: 85%;
    }

    .card .list-group {
        font-size: 90%;
    }    
    
    .card-body h5 {
        font-size: 90%;
    }

    .form-control {
        font-size: 85%;
    }
}

@media screen and (max-width: 1050px) {
    .card .list-group {
        font-size: 90%;
    }    
    
    .card-body h5 {
        font-size: 95%;
    }

    .profile {
        font-size: 75%;
    }
}

@media screen and (max-width: 900px) {
    .recipe-list {
        margin: auto;
    }

    .card .list-group {
        font-size: 100%;
    }    
    
    .card-body h5 {
        font-size: 100%;
    }

    .profile {
        font-size: 80%;
    }
}

@media screen and (max-width: 500px) {
    .card {
        margin: auto 10%;
    }

    #welcome-message {
        width: 80%;
    }
}