{% load static %}

{% include "components/head.html" %}

<body>

  {% include "components/nav.html" %}

    <main class="flex-shrink-0 main-bg mt-5">
        {% block content %}
        <!-- Extended content goes here. -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-3 py-3 fixed-bottom">
        <p class="m-0 text-center">Thank you for visiting!</p>
        <p class="m-0 text-center">Find out more at the following links: 
            <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>

<!-- Bootstrap JS -->
<script src="{% static 'bootstrap_5.1.0/js/bootstrap.min.js' %}"></script>
<!-- Theme switch script -->
<script src="{% static 'js/theme.js' %}"></script
</body>
</html>