{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- User Profile Page -->
<div class="container">
    <div class="row">
        <div class="col-6 mt-3" id="profile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Profile Information</h2>
                        <h3>Username: {{ user.username }}</h3>
                        <h3>Email: {{ user.email }}</h3>
                        {% if user.is_superuser %}
                        <h3>Status: Administrator</h3>
                        {% else %}
                        <h3>Status: User</h3>
                        {% endif %}
                    </div>
                    <a class="btn mt-5" href="#">Add new recipe!</a>
                    <form class="form-control mt-5 box-shadow" id="signup_form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form | crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn" type="submit">Update</button>
                    </form>
                    <form method="POST" id="password_change_form" action="{% url 'account_change_password' %}" class=" form-control mt-5 box-shadow">
                        {% csrf_token %}
                        {{ password_change_form | crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <input onclick="location.href='{% url 'password_change' %}'" class="btn" type="button" name="action" value="{{ 'Change Password' }}">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="container">
                <div class="row" id="favorites">
                    <h2 class="title">Favorites</h2>
                    <ul class="form-control">
                        {% for favorite in favorites %}
                        <li class="list-group-item">
                            <a class="nav-item" href="{% url 'recipe_detail' favorite.slug %}">{{ favorite.recipe_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row" id="personal_recipes">
                    <h2 class="title mt-3">Personal Recipes</h2>
                    <ul class="form-control">
                        {% for author in personal_recipes %}
                        <li class="list-group-item">
                            <a class="nav-item" href="#">{{ author.recipe_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}