{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="title text-center">Recipe's</h1>

<div class="container-fluid">
    <div class="row">

        <!-- Recipe List -->
        <div class="col-12 mt-3">
            <div class="row justify-content-md-center mt-5">
                {% for recipe in recipe_list %}
                {% include "components/recipe-card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}