{% load static %}

<!-- NavBar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- NavBar brand -->
        <a class="navbar-brand" href="{% url 'Home' %}">
            <img src="{% static 'images/favicon.ico' %}" alt="" width="30" height="24">
        </a>
        <!-- Hamburger Icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- NavBar List -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home Page -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- Logout User -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <!-- User Profile Page -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                {% else %}
                <!-- User Login -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <!-- User Signup -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
                </li>
                {% endif %}
                <!-- Categories Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Categories Page -->
                        <li>
                            <a class="dropdown-item" href="/categories" aria-label="Go to the categories page">Categories</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <!-- For List of Categories -->
                        {% for category in categories_list %}
                            <li>
                                <a class="dropdown-item" href="{% url 'categories_list' category %}" aria-label="Go to the this category.">{{ category.title }}</a>
                            </li>
                        {% endfor%}
                    </ul>
                <!-- Recipes Page -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes' %}">Recipe's</a>
                </li>
                {% if user.is_superuser %}
                <a class="btn" href="/admin" target="_blank" aria-label="Go to the Admin Panel">Admin Panel</a>
                {% endif %}
            </ul>
            <!-- Theme switch toggle -->
            <label for="theme" class="switch">Theme Switch
                <span>
                    <input id="theme" type="checkbox" name="theme">
                    <span class="slider"></span>
                </span>
            </label>
        </div>
    </div>
    </nav>
    <!-- End of NavBar -->